a:hover {
    color : red 
}
html {
    font-size: 100px;
    font-family: placeholder;
    background-color: #00539F;
  }
  body {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
  img {
    display: block;
    margin: 0 auto;
    width: 600px;
    border: 5px solid black;
  }

  button {
display: block;
margin: 0, auto;
width:  300px;
height: 300px;
  }